body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f7f5eb;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 800px;
}

.content {
    flex-grow: 1;
}

.subheading {
    font-size: 0.6rem;
    font-style: italic;
    margin: 0.2rem 0 0.6rem;
    text-indent: 1rem;
}

.hover-effect:hover {
    background-color: #f2f2f2;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.painting {
    max-width: 50%;
    height: auto;
    box-shadow: 0 4px 6px #010101;
    margin-bottom: 2rem;
    transition: 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.painting:hover {
    transform: scale(1.1);
    border: 2px solid #000;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

footer {
    margin-top: 1rem;
    font-size: 0.8rem;
    color: #666;
}

.info pre {
    white-space: pre-wrap;
    text-align: justify;
    margin: 0 auto;
    max-width: 90%;
    padding: 15px;
}

.button {
    background-color: #4caf50;
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 1rem 0;
    padding: 0.5rem 2rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
    background-color: #455a64; /* Darker shade for the hover effect */
    color: #ffffff;
    transform: scale(1.05); /* Slightly enlarges the button */
}

.theme-toggle {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.theme-toggle:hover {
    background-color: #367c39;
}

.dark-mode .theme-toggle {
    background-color: #586e75;
}

.dark-mode .theme-toggle:hover {
    background-color: #455a64;
}

.dark-mode .button {
    background-color: #333;
}

.dark-mode .container {
    background-color: #222;
}

/* Additional styles for animations and dark mode */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fadeIn {
    animation: fadeIn 1s ease-out;
}

/* Styles for modal and loading cursor remain unchanged */
